.splashScreen {
  position: fixed;
  z-index: 19920308;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
  background: #fff;
  &.hidden {
    display: none;
  }
}
.x-spinner {
  display: flex;
  display: -webkit-box;
  &-item {
    width: .5em;
    height: .75em;
    background: silver;
    margin-right: 1px;
    animation: bounce-middle 0.3s ease-in-out infinite alternate;
  }
  @for $i from 1 through 5 {
    &-item:nth-of-type(#{$i}) {
      animation-delay: 0.3s +  $i * 0.1s;
    }
  }
}
@keyframes bounce-middle {
  0% {
    visibility: visible;
    transform: scaleY(1) translateZ(0);
  }
  100% {
    visibility: visible;
    transform: scaleY(2.5) translateZ(0);
  }
} 
.x-hint {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 45px;
  margin-left: -2.15em;
  color: #333;
}



