// .splashScreen {
//   position: fixed;
//   z-index: 19920308;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 1;
//   display: flex;
//   display: -webkit-box;
//   -webkit-box-pack: center;
//   -webkit-box-align: center;
//   justify-content: center;
//   align-items: center;
//   background: #fff;
//   &.hidden {
//     display: none;
//   }
// }
// .x-spinner {
//   display: flex;
//   display: -webkit-box;
//   &-item {
//     width: .5em;
//     height: .75em;
//     background: silver;
//     margin-right: 1px;
//     animation: bounce-middle 0.3s ease-in-out infinite alternate;
//   }
//   @for $i from 1 through 5 {
//     &-item:nth-of-type(#{$i}) {
//       animation-delay: 0.3s +  $i * 0.1s;
//     }
//   }
// }
// @keyframes bounce-middle {
//   0% {
//     visibility: visible;
//     transform: scaleY(1) translateZ(0);
//   }
//   100% {
//     visibility: visible;
//     transform: scaleY(2.5) translateZ(0);
//   }
// } 


// SVG loader

.loader {
    width: 40px;
    background: #f2f2f2;
    border-radius: 50%;
}

.circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke: black;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
