<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Document</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../dist/css/index.css">
    <!-- Get dpi && set rem && modernizr -->
    <script src="../dist/js/critical.bundle.js"></script>

</head>
<body>
	<div class="wp">
		<h1>BFC</h1>
	</div>
</body>
<script src="../dist/js/index.bundle.js"></script>

</html>
