$gutter: 15px;
$gutter--small: 15px * 2/3;

// set base font size
$baseFontSize: 20px;



// theme color
$btnBlack: #333;
$btnBlue: #286090;
$btnGreen: #449d44;
$btnLightBlue: #31B0D5;
$btnOrange: #ec971f;
$btnRed: #c9302c;