@import './base/vars';
@import './base/_normalize';
@import './mixin/fontSize';
@import './mixin/media';
html {
    font-size: $baseFontSize;
    @include max-screen(374px) {
        font-size: 0.8 * $baseFontSize;
    }
    @include min-screen(641px) {
        font-size: 1.2 * $baseFontSize;
    }
}

.kk {
    font-size: px2rem(16);
}
